apiVersion: apps/v1
kind: Deployment
metadata:
  name: jobs-api
  namespace: chomage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jobs-api
  template:
    metadata:
      labels:
        app: jobs-api
    spec:
      restartPolicy: Always
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - sql
              topologyKey: kubernetes.io/hostname
      containers:
      - name: jobs-api
        image: ffatih/jobs.api:1.0
        ports:
        - containerPort: 80
        env:
        - name: ConnectionString
          value: "Server=sql;Database=dotnetgigs.jobs;User Id=sa;Password=Pass@word;TrustServerCertificate=true;"
        - name: HostRabbitmq
          value: "rabbitmq"
        resources:
          requests:
            cpu: "0.5"
            memory: "500Mi"
          limits:
            cpu: "1"
            memory: "1500Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: jobs-api
  namespace: chomage
spec:
  selector:
    app: jobs-api
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
