apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: chomage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      restartPolicy: Always
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - jobs-api
                  - applicants-api
              topologyKey: kubernetes.io/hostname
      containers:
      - name: web
        image: ffatih/web:1.0
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "4m"
            memory: "900Mi"
          limits:
            cpu: "1"
            memory: "2000Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: web
  namespace: chomage
spec:
  selector:
    app: web
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: web-hpa
  namespace: chomage
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: web
  minReplicas: 1
  maxReplicas: 5
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
